@charset "windows-1251";

.canceledit,.fmedit,.fmn,.fmcopy,.fmmdash,.fmltgt { cursor: pointer; }
.canceledit:after { content: url(/blog/design/e/cancel1.png); }
.fmedit:after { content: url(/blog/design/e/edit.gif); }
.fmn:after { content: url(/blog/design/e/n.gif); }
.fmcopy:after { content: url(/blog/design/e/copy.gif); }
.fmmdash:after { content: url(/blog/design/e/mdash.gif); }
.fmltgt:after { content: url(/blog/design/e/ltgt.gif); }

