<html><head><meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
{_MAIN:_}
{_PRAVKA:_}
{_STYLE_ADD: {www_css}blog.css _}
{_SCRIPT_ADD: {www_design}pravka_blog.js _}
{_SCRIPT_ADD: {www_design}pins.js _}
<title>Error not found: {_article_get:Date_}</title>
<link rel="prev" href="{prevlink}" id="PrevLink" />
<link rel="next" href="{nextlink}" id="NextLink" />
<link rel="UpLink" href="{uplink}" id="UpLink" />
<link rel="DownLink" href="{downlink}" id="DownLink" />
{mystyle}
{myscript}
</head>

<body>{_ADMINPANEL:_}
<table width=100% height=100%><tr><td valign=center align=center>

404 not found
<p>страница с именем <b>/{_article_get:Date_}</b> не существует

{_IFADMIN: <p><a href="javascript:majax('editor.php',{a:'newform',hid:hid,Date:'{_article_get:Date_}'})">открыть редактор и создать?</a> _}

</td></tr></table>
</body></html>
