<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>{_article_get:Header_}</title>
<meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
<meta http-equiv="Content-Language" content="ru-ru" />
<meta name="author" content="Leonid Kaganov" />
{_MAIN:_}{_PRAVKA:_}
{mystyle}
{myscript}
{_STYLE_ADD: {www_css}blog.css _}
{_SCRIPT_ADD: {www_design}pravka_blog.js _}
{_SCRIPT_ADD: {www_design}pins.js _}
</head><body>{_ADMINPANEL:_}

<div id="bodyz" style="margin:20px;">{_TEXT:_}<p>&nbsp;</div>

<center><hr width=70% color=red><small><b>© Леонид Каганов</b>&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="mailto:lleo@aha.ru">lleo@aha.ru</a>&nbsp;&nbsp;&nbsp;&nbsp;сайт автора <a href="http://lleo.aha.ru">http://lleo.aha.ru</a>
&nbsp;&nbsp;&nbsp;&nbsp;посещений {_COUNTER:_}
<br>Хостинг-спонсор сайта - компания "<a href="http://www.zenon.ru">Зенон Н.С.П.</a>".
</small></center>