<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>Silkway: {_TITLE:_}</title>
<meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
<meta http-equiv="Content-Language" content="ru-ru" />
<meta name="author" content="Silkway" />
{_MAIN:_}{_PRAVKA:_}
{mystyle}
{myscript}
{_STYLE_ADD: {www_css}silkway.css _}
{_SCRIPT_ADD: {www_design}pravka_blog.js _}
{_SCRIPT_ADD: {www_design}pins.js _}
</head><body>{_ADMINPANEL:_}<center>

<table cellspacing=0 cellpadding=0 border=0 width=100%><tr>
<td bgcolor=#fbf3f2>&nbsp;</td><td width=700 height=103 background="{www_design}silkway/silkway_shapka.jpg">
	<div style="position:relative; width:700px; height:103px;">
	<div style="position:absolute; top:55px; right:10px; font-size: 20px; color:#814c52">{_наш телефон_}</div>
	</div>
</td><td bgcolor=#e6d5d6>&nbsp;</td></table>

<table cellspacing=0 cellpadding=0 border=0 height=24 width=100% background="{www_design}silkway/silkway_menu.gif"><tr><td align=center>{_menu_}</td></tr></table>

<div class=flash>

{_IFBRO: linux | <img src="{www_design}silkway/noflash.jpg"> |

<object style="z-index:0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="700" height="254" align="middle">
<param name="allowFullScreen" value="false" />
<param name="wmode" value="opaque" />
<param name="movie" value="{www_design}silkway/banner2.swf" />
<param name="quality" value="high" />
<embed wmode="opaque" src="{www_design}silkway/banner2.swf" quality="high" bgcolor="#000000" width="700" height="254" align="middle"
type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>

_}

</div>

<div class=okno>

{_MENU2:
перезвоните мне | {wwwhost}contact/perezvonite
запишитесь на бесплатное тестирование | {wwwhost}contact/zapis
задайте вопрос | {wwwhost}contact/vopros
_}



<div style="float: left; padding: 30 0 0 0; width: 20%; height=100%;"><p>

<div class=pl></div><div class=vnizl><a href={wwwhost}news class=zl1>НОВОСТИ</a>
<div class=vnt><a href={wwwhost}news/sobytia class=zl2>события</a><br>
<a href={wwwhost}news/meropriatia class=zl2>мероприятия</a><br>
<a href={wwwhost}news/photoalbum class=zl2>фотогалерея</a>
</div>
</div>

<div class=pl></div><div class=vnizl>
<a href={wwwhost}business class=zl1>БИЗНЕС</a>
</div>


<div class=pl></div><div class=vnizl>
<a href={wwwhost}contact/region class=zl1>РЕГИОНАЛЬНЫЕ<br>ПРЕДСТАВИТЕЛЬСТВА<br>КОМПАНИИ</a>
</div>

<div class=pl></div><div class=vnizl>
<a href={wwwhost}sotrudnichestvo class=zl1>ПРИГЛАШАЕМ К<br>СОТРУДНИЧЕСТВУ</a>
</div>

{_баннер1_}

</div>


<div style="float: right; padding: 30 0 0 0; width: 20%"><p>

<div class=vnizr>

<div style="background-color: white; border: 1px solid #b8858e; padding: 5px; margin-bottom: 10px;">
<a href={wwwhost}konkurs class=zl1>КОНКУРС</a>
<div class=vnt>
Каждая женщина может принять участие в нашем конкурсе.
<p><a href={wwwhost}konkurs class=podrob>подробнее...</a>
</div>
</div>

</div>

<div class=vnizr>
<a href={wwwhost}info class=zl1>ЗНАЕТЕ ЛИ ВЫ, ЧТО</a>
<div class=vnt>
Информация из раздела "секреты красоты и здоровья"
<p><a href={wwwhost}info class=podrob>подробнее...</a>
</div>
</div>

<div class=vnizr>
<a href={wwwhost}test class=zl1>ВИРТУАЛЬНОЕ ТЕСТИРОВАНИЕ</a>
<div class=vnt>
<a href={wwwhost}test/shape class=zl2>shape-тестирование</a><br>
<a href={wwwhost}test/figure class=zl2>определение типа фигуры</a><br>
<a href={wwwhost}test/size class=zl2>определение размера</a><br>
<a href={wwwhost}test/massa class=zl2>ИМТ (индекс массы тела)</a><br>
<a href={wwwhost}test/son class=zl2>определение качества сна</a>
</div>
</div>

<div class=vnizr>
<a href={wwwhost}enter/woman class=zl1>ВХОД ТОЛЬКО ДЛЯ ЖЕНЩИН</a>
</div>

<div class=vnizr>
<a href={wwwhost}enter/man class=zl1>ВХОД ТОЛЬКО ДЛЯ МУЖЧИН</a>
</div>

<div class=vnizr>
<a href={wwwhost}enter/consul class=zl1>ВХОД ДЛЯ КОНСУЛЬТАНТОВ</a>
</div>

</div>

<div id="bodyz" style="padding: 30px 20% 30px 20%; margin: 0 40pt 0pt 40pt; text-align:justify; font-size: 14px;">{_TEXT:_}<p>&nbsp;</div>

<br class=q />
</div>

<div class=menu_end>
<div style="float: left; padding-left: 20;">© design by naber</div>
<div style="float: right; padding-right: 20;">© 2009, Silkway Inc. Корректирующее белье</div>
</div>

</center></body></html>