<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<title>Silkway: {_article_get:Header_}</title>
<meta http-equiv="Content-Type" content="text/html; charset={wwwcharset}" />
<meta http-equiv="Content-Language" content="ru-ru" />
<meta name="author" content="Silkway" />
{_MAIN:_}{_PRAVKA:_}
{mystyle}
{myscript}
{_STYLE_ADD: {www_css}silkway.css _}
{_SCRIPT_ADD: {www_design}pravka_blog.js _}
{_SCRIPT_ADD: {www_design}pins.js _}
</head><body>{_ADMINPANEL:_}<center>{_shapka_}

<div class=okno>{_menu2_}

{_menu_left_}

{_menu_right_}

<div id="bodyz" style="padding: 30px 20% 30px 20%; margin: 0 40pt 0pt 40pt; text-align:justify; font-size: 14px;">{_TEXT:_}<p>&nbsp;</div>

<br class=q /></div>

{_html_end_}
