<?php

# Первоочередные параметры

# хэш пароля админа (сам пароль не хранится! при инсталляции переменная должна быть пустой, потом скрипт сам скажет, что вписать!)
	$admin_hash="";

# хостинг
	$httpsite = "http://lleo.aha.ru";
	$blogdir = "blog/";

# параметры mysql
	$msq_host = "localhost";
	$msq_login = "lleo";
	$msq_pass = "f56DfY8e3";
	$msq_basa = "lleo";
	$msq_charset = "cp1251";

# имя блога
	$admin_name = "Леонид Каганов";
	$admin_mail = "lleo@aha.ru";
	$blog_name = "lleo.aha.ru";
	$admin_site = "lleo.aha.ru"; // для формы поиска по яндексу - сюда можно записать не сайт, а блог

$signature = "&copy; ".$admin_name."&nbsp;&nbsp;<a href='mailto:".$admin_mail."'>".$admin_mail."</a>";

# строка для хэширования пароля (любая, от балды)
	$koldunstvo = "мыпи сали мыпи сали наши пальчики устали";
	$hashinput = "пока мы не знаем закона природы, он существуя и действуя"; // строка для вывода хэшиков каждой страницы
	$hashlogin = "этокатастрофаШеф"; // допаролька логона сайта - если поменять, отвалятся все залогиненные юзеры


        // $cookie_method_old = true; // включить, чтобы была старая система кук
        if(stristr($_SERVER["HTTP_USER_AGENT"],'Nokia') or stristr($_SERVER["HTTP_USER_AGENT"],'Konqueror') ) $cookie_method_old=true;

        // $admin_ljuser="lleo"; // стертый аккаут LJ для восстановления через Яндекс модулем loadlj


# memcache - по умолчанию отключен, удалите ВООБЩЕ эту строчку, если он у вас установлен
$memcache = false;


# настройки RSS блога
$RSSZ_skip = 10; // сколько выдавать за раз в RSS записей
$RSSC_skip = 30; // сколько выдавать за раз в RSS комментариев
$RSSZ_mode = 0; // 0 - выдавать полный текст в rss, 1 - только начальный абзац

# место, где система хранит директорию блога
# $host = "/home/lleo/www/";
$host = rtrim($_SERVER["DOCUMENT_ROOT"],'/').'/';
$wwwhost = "/".$blogdir; // адрес блога относительно родного сервера (/dnevnik/)
$httphost = $httpsite.$wwwhost; // полный адрес блога (http://lleo.aha.ru/dnevnik/)
$filehost = $host.$blogdir; // физический адрес файла на сервере
$wwwtmp = $wwwhost."tmp/"; // адрес временных файлов
$hosttmp = $filehost."tmp/"; // путь до временных файлов
$cookie_site = ""; // на каком домене оставлять куки

# параметры нежелательные для изменения
$host_log = $filehost."log/"; // сюда будут писаться логи
$wwwcharset = "windows-1251"; // кодировка страниц блога
$syscharset = "koi8-r"; // кодировка файловой системы сервера
$include_sys = $filehost."include_sys/"; // директория, где лежат системные модули
$include_blog = $filehost."include_blog/"; // директория, где лежат модули блога
$host_design = $filehost."design/"; // директория, где лежит дизайн
$www_design = $wwwhost."design/"; // директория, где лежит дизайн
$host_module = $filehost."module/"; // директория, где лежат модули
$www_ico = $wwwhost."design/ico/"; // директория, где лежат иконки


############ правки ###########################################################################
$db_pravka='pravki'; // имя таблицы MySQL, куда складывать правки.
$pravka_paranoid=true; // true - записывать в базу даже собственные правки, чтобы после можно было отменить
$pravki_npage=50; // сколько показывать правок на каждой странице при листании архива

############ логины ###########################################################################
$db_login="login"; // имя базы логинов
#########################################################################################

$enter_comentary_days = 7; // число дней, когда заметка устарела
$N_maxkomm = 20000; // когда отключать возможность комментировать


############ антибот ###########################################################################
$antibot_pic = $include_sys."antibot_pic/";        // Путь до папки с картинками
$antibot_cash = "antibot_cash/";
$antibot_file = $hosttmp.$antibot_cash; // Путь до папки с времеными файлами
$antibot_www = $wwwtmp.$antibot_cash; // Адрес папки с времеными файлами для вэба
$antibot_C = 3;   // Сколько нужно символов
$antibot_W = 18;   // Ширина и высота символов
$antibot_H = 20;
$antibot_add2hash = $_SERVER["REMOTE_ADDR"].$hashinput;    // Прилепена для хэша
$antibot_deltime = 60*60; // удалять старые картинки через 1 час


### сайт-менеджер ##############################################################################
$db_site = "site";
$site_mod = $filehost."site_mod/"; // директория, где лежат подключаемые модули сборки сайта

### удобства и отладка #########################################################################
$fileget_tmp = $hosttmp."get/";

#gb = content
# база логинов
$db_login = "login";



### загрузка фоток #########################################################################
// $foto_orig  оригинальные закачки не сохраняем - только обработанные фотки (small)
$foto_small="photo/";  // сюда будут писаться обработанные закачанные фотки
$foto_preview="photo/pre/"; // сюда будут писаться превьюшки закачанных фоток


$foto_file_small=$filehost.$foto_small;
$foto_www_small=$wwwhost.$foto_small;
$foto_res_small=600;
$foto_qality_small=85;

$foto_file_preview=$filehost.$foto_preview;
$foto_www_preview=$wwwhost.$foto_preview;
$foto_res_preview=100;
$foto_qality_preview=70;

$foto_ttf=$host_design."ttf/MTCORSVA.TTF";
$foto_logo=chr(169)." ".chr(171)."Блог Леонида Каганова http://lleo.aha.ru/blog/".chr(187); // автоматическая подпись фоток
/* chr(160) nbsp chr(169) copy chr(151) mdash chr(171) chr(187) ltgt */
