
#nav, #nav ul {
  font-size:10px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0px solid #b8858e;
  background: #515151;
  float: left;
  width: 100%;
}
#nav li {
  float: left;
  position: relative;
  background: #white; /* background: #515151; */
  back\ground: none;
}

#nav a {
text-align: center;
color: white;
  text-decoration: none;
  display: block;
width: 92px;
height: 28px;
  padding: 2px 4px;
  background: #b8858e url(/blog/design/silkway/silkway_menu.gif);
}
#nav a:hover { color: black;
  background: #b8858e url(/blog/design/silkway/silkway_menu.gif);
}
#nav li:hover, #nav li.jshover { background: #333; }

#nav li ul {
  display: none;
  position: absolute;
  background: #b8858e;
  padding: 2px; /* 0; */
  width: 138px; /* ширина вложенного меню */
}
#nav li li a {
  text-align: left;
  width: 129px; /* ширина полозка 118 */
  color: black;
  background: white; /* background: none; */
}
#nav li:hover ul, #nav li.jshover ul { display: block; }

#nav li:hover li ul,
#nav li.jshover li ul {
  display: none;
  width: 138px;
  top: -9px;
  left: 118px;
  lef\t: 133px;
}
#nav li:hover li:hover ul, #nav li.jshover li.jshover ul { display: block; }

