<?php

#
# Здесь находятся конфигурационные настройки для работы клиента связи bink.php
# Этот файл надо переименовать из bink.conf.php.tmpl в bink.conf.php и настроить под себя
#

# папка для входящих пакетов (обязательно на конце / )
$fidodir_in="in/";

# папка для пакетов на отправку
$fidodir_out="out/";

# номер моей ноды в формате ГОРОД/НОДА
$fido_mynode="5020/313";

# "нодлист"
$fidonodelist="nodelist.php";

# если раскомментирован указатель на папку dup - в нее будут копироваться принятые пакеты,
# это было нужно при отладке, чтобы повторять попытку тоссинга, не теряя пришедшей почты
#$fidodir_dup="in/dup/";

# далее идут настройки протокола email (если он не будет использоваться - закомментировать)
$fidomail_from="fido@lleo.aha.ru";
$fidomail_smtp="smtp.lleo.aha.ru";
$fidomail_pop="pop.lleo.aha.ru";
$fidomail_user="fido";
$fidomail_pass="cHeGevaRa";
# с каким SUBJ отправлять по email пакеты
$fidomail_subj="FIDO boundles - ".date("Y-m-d H:i:s");

# Хотите пополнить ряды олухов, спешащих мне сообщить, что я забыл убрать личные пароли?
# lleo@aha.ru, +7-916-6801685

?>