<?php этот ноделист не предназначен для просмотра, потому он php, но не запустится

# node, bink-url, bink-mail, password

	5020/1519, http://ftn.su/bink/bink.php ,, 34FGtdhYy
	5020/313, http://lleo.aha.ru/fido/bink.php ,fido@lleo.aha.ru, JdFTN766

?>
